
/* GENERAL */

img {
    width: 100%;
    display: block;
}







/* ASIDE */


 .sidebar {
    height:calc(100vh - 70px);
    width: 80px;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    min-height: 18.75rem;
    
    
}
    

.sidebar > ul li, .sidebar > ul li a {
    color: white;
    list-style: none;
    text-decoration: none;

}




/* MAIN */

main {
    width: calc(100vw - 80px);
}

.big-number {
    font-size: 1.25rem;
}




.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.overlay-1 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    
}
    

    
    
    
    
    









@media screen and (min-width:992px) {
    .sidebar {
        width: 12.5rem;
    }
}












