
/* GENERAL */

img {
    width: 100%;
    display: block;
}







/* ASIDE */


 .sidebar {
    height:calc(100vh - 70px);
    width: 80px;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    
    
}
    

.sidebar > ul li, .sidebar > ul li a {
    color: white;
    list-style: none;
    text-decoration: none;

}




/* MAIN */

main {
    width: calc(100vw - 80px);
    
}

    
    
    
    
    









@media screen and (min-width:992px) {
    .sidebar {
        width: 12.5rem;
    }
}












