
/* GENERAL */

img {
    width: 100%;
    display: block;
}



/* HEADER */
header {
    height: 70px;
}

.my-container {
    height: calc(100vh - 70px);

}

/* ASIDE */

aside {
    height:100% ;
    
    width: 80px;
    background-color: #051E34;
    background-image: url("../img/sidebar-bg.png");
    
}
    
    
    

.sidebar > ul li, .sidebar > ul li a {
    color: white;
    list-style: none;
    text-decoration: none;

}

ul + div > a {
    text-decoration: none;
    color: white;
}


/* MAIN */

main {
    
    flex-grow: 1;
    overflow-x:hidden;
    overflow-y:auto;
    
}

/* SECTION 1 */
.big-number {
    font-size: 1.25rem;
}

/* SECTION 2 */

 .state {
    font-size: .625rem;
 }

.img-container {
    width: 1.25rem;
    display: inline-block;
    vertical-align: middle;
}

.img-container-1 {
    width: 50%;
}

    

    
    
    
    
    









@media screen and (min-width:992px) {
    .sidebar {
        width: 12.5rem;
    }
}












